body{
    font-family: "Noto Sans KR",  sans-serif;
    color:#333333;
}

a,a:link{
        text-decoration: none;
        color:#333333;
}
a:hover{
        text-decoration: underline;
}
.title{
        text-align: center;
        margin-top:50px;
        margin-bottom:50px;
        font-size: 25px;
    }

.bbslist{
        border-top:1px solid #999;
        border-bottom:1px solid #999;
        width: 1000px;
        margin-left:auto;
        margin-right:auto;
        border-collapse:collapse;
}
.text-center{
        text-align:center;
}
.bbslist th{
        padding:15px;
}
.bbslist td{
        padding:10px;
        text-align:center;
        border-bottom:1px dashed #999;
}
.bbslist td.subject{
    padding:10px;
    text-align:left;
}
.bbslist thead{
    border-bottom:2px solid #333;
}
.bbslist tbody tr:hover{
    background : #eee;
}